.profile-picture{
    width: 145px;
    height: 145px;
    object-fit: cover;
    
}
.prof {
    display: grid;
    grid-template-columns: 300px;
    row-gap: 7px;
}
.profile-name{
    font-weight: bold;
    font-family: Arial;
    width: 135px;
    margin: 0px;
    font-size: 13px;
    padding-left: 5px;
}
.mutual{
    margin: 0px;
    font-size: 12px;
    color: grey;
    width: 130px;
}
button{
    background-color: rgb(0, 110, 255);
    border-radius: 3px;
    border: none;
    color: white;
    width: 85px;
    height: 30px;
    margin-left: 5px;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.15s;
}
button:hover{
    background-color:rgb(4, 86, 192) ;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
}
button:active{
    opacity: 0.8;
}
.addup-details{
    vertical-align: top;
    height: 250px;
    width: 145px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.grid{
    display: grid;
    grid-template-columns: 145px 145px 145px;
    column-gap: 15px;
    align-items: center;

}
.profile-picture2{
    width: 20px;
    object-fit: cover;
    height: 20px;
    border-radius: 10px;
    margin-left: 5px;
}
.friends{
    display: grid;
    grid-template-columns: 30px 100px;
    align-items: center;
}