body{
    margin-bottom: 3000px;
}
.facebook-bar{
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
    top: 0px;
    right: 0;
    left: 0;
}
.cat-name{
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
  
}
.cat-pic{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
    vertical-align: middle;
    margin-right: 7px;
    margin-left: 50px;
}
.add{
    width: 72px;
}   
#add{
    font-size: 12px;
    background-color: rgb(0, 102, 255);
    color: white;
    border: none;
    border-radius: 4px;
    height: 25px;
}
.message{
    width: 72px;
    margin-left: 5px;
}
#message{
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(236, 233, 233);
    border: none;
    border-radius: 4px;
    height: 25px;
}
.sidebar{
   display: flex;
   position: fixed;
   padding: 5px;
   width: 60px;
   top: 35px;
   left: 0px;
   bottom: 0px;
   background-color: rgb(32, 31, 31);
}
img{
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}
.second-sidebar{
    background-color: rgb(58, 56, 56);
    width: 150px;
    position: fixed;
    top: 35px;
    bottom: 0px;
    left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.dialog-box{
    display: flex;
    margin-bottom: 10px;
}
.info{
    color: white;
    flex: 1;
    font-size: 13px;
}
.plus{
    color: rgb(179, 175, 175);
}
.hashtag{
    color: rgb(179, 175, 175);
    font-size: 13px;
    margin-bottom: 15px;
}